
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.footer {
  padding-top: 20px;
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
  height: 60px;
  color: #000;
	background-color:#7f8c8d;
}